body{
    
    background-color:rgb(82, 70, 52);
    background-image: url("images/background-22.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #212529; /* gray */
    color: #292421; /* gray-warm */
    }
main,footer,nav{
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
}
/* NAVBAR & FOOTER */
.navbars{
    height:100px;
    display:flex;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand{
    
    font-family: 'Cormorant Garamond', serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display SC', serif;

    font-family: 'Alata', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Open Sans', sans-serif;

    /* Zwyciezcy */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-size: 2.15rem;
}
.navbar-toggler{
    margin-right: 4%;
}
/* DROPDOWN MENU */
.dropbtn {
    background-color: rgba(0,0,0,0);
    padding: 7px;
    border: 0.5px solid black;
    border-radius: 10%;
    cursor: pointer;
  }
.dropdown {
    margin-right: 4%;
    margin-top:10px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: -50px;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
    
}
.dropdown-content a {
    
    border-bottom: 0.5px dotted rgb(68, 60, 55);
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color:rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color:rgb(247, 244, 233);
}

.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropbtn {
background-color: rgba(255, 255, 255,0.1);
}
#categories a:last-of-type{
    border:none;
}
#categories a{
    padding: 2px 0 2px 30px;
    background-color: rgba(187, 161, 129, 0.9);
    font-size: 17px;
}
#basic a{
    background-color: rgba(175, 147, 113,0.9);
    padding: 12px 16px ;
    font-size: 18px;
}

/* FOOTER */
.foot{
   
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content:space-around;
    padding: 0 5%;
}
footer .brand{
    font-size: 1.2rem;
    width:16%;
    padding-top:50px;
    margin-left:14%;
}
.foot-piece{
    flex: 1 1 auto;
    width:25%;
    box-sizing: border-box;
    padding: 10px 2% 0 2%;
    font-weight: 400;
}
#my-photo-footer{
    width:120px;
    margin:10px 15px 20px 10px;
    border-radius: 50%;
    
}
.foot-piece h3{
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
.foot-piece p{
    padding: 10px;
    margin-bottom:8px;
}
.icon-media{
    width:20px;
    float: left;
    margin: 0 10px;
}
footer a{
    color: inherit;
}

footer a:hover{
    text-decoration: none;
    color: rgb(247, 244, 233);
    
}

/* MAIN */
main{
    
    width:75%;
    margin: 0 auto;
}
#container{
    /* position: fixed;
    top:100px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    grid-gap:20px;

    /* grid-template-columns: [first] 1fr [second] 2fr [third] 1fr [last] 2fr; */
}
.item{
    border:0px solid;
    background-color: rgba(135, 86, 38,0.4);
}
.item:hover{
    opacity:0.5;
}
.item1{
    grid-row: 1/3;
    grid-column: 1/3; 
}
.item4{
    grid-column: 3/5; 
}
.item5{
    grid-column: 1/3;
}

.item9{
    grid-column: 2/4; 
}
.item7{
    grid-row: 3/5; 
    grid-column: 4/5;
}

img{
    width:250px;
    display:block;
    margin:auto;
    
}
.img-pd{
    padding-top:120px;
}

/* COLORS */
.bg-brown{
    /* navbar and footer */
    background-color: rgba(175, 147, 113,0.7);
}
.bg-beige-1{
    background-color: rgba(175, 147, 113,0.6);
}
.bg-beige-2{
    background-color: rgba(188, 140, 88,0.6)
}
.bg-beige-3{
    background-color: rgba(221, 171, 115,0.6)
}



